@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Mono:400,700';

body{
  font-family: 'PT Sans', sans-serif;
}

h1,h2, h3, h4, h5, h6 {
  font-family: 'PT Mono', sans-serif;
}

pre, code {
  font-family: 'PT Mono';
}

.navbar {
  font-family: 'PT Mono';
}
