@import 'https://fonts.googleapis.com/css?family=Barlow:400,700|Fira+Mono:400,700';

body{
  font-family: 'Barlow', sans-serif;
}

pre, code {
  font-family: 'Fira Mono';
}

.navbar-brand {
  font-family: 'Fira Mono';
}
