@import 'https://api.fontshare.com/css?f[]=supreme@400,700&f[]=technor@400,700&display=swap';
@import 'https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|family=IBM+Plex+Sans:400,700';


body{
  font-family: 'IBM Plex Sans', sans-serif;
}

h1,h2,h3 {
  font-family: 'Technor', sans-serif;
}

pre, code {
  font-family: 'IBM Plex Mono';
}

.navbar-brand {
  font-family: 'Technor';
}
